header h1{
    color: white;
    font-weight: bold;
    /* border: 8px solid grey; */
    /* border-radius: 50%; */
    border-bottom: 8px solid grey;
}
img{
    width: 100vw;
    height: 100vh;
}
body{
    background-image: url("wallpaper.jpg");
    background-size: cover;
    display: grid;

}
nav{
    color: white;
    grid-area: nav;
    text-align: justify;
    padding: 0%;
}

main.h1{
    color: rgb(209, 40, 40);
    font-size: 50px;
    font-weight: normal;
}   
nav ul li{
    display: flex;
    justify-content: space-around;
    grid-area: nav;

}
footer{
    color: white;
    font-size: 20px;
}
a{
    text-decoration: none;
}