
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Sixtyfour&display=swap');


:root {
    --background2: #706C61 ;
    --background1: #5e5757 ;
}
* {
    margin: 0;
    padding: 0;
}

header{
    grid-area: header;

}
header h1{
    color: white;
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 4em;
    font-family: "bungee hairline", sans-serif;
    font-weight: 400;
    font-style: normal;

}

  
header h2 {
    color: white;
    text-align: center;
}


body{
    background-image: url("Images/background_image.jpg");
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
    
    "nav nav "
    "header header"
    "aside aside"
    "main main"
    "footer footer"
    ;

}
nav{
    color: white;
    grid-area: nav;
    padding: 0%;
    /* background-color: #1D263B; */
    /* background-color: #857F74; */
    justify-content: space-around;
    text-transform: none;
    display: flex;

}
.navbar {
    list-style: none;
}
nav ul li{
    display: grid;
    padding: 3em;
    display: inline;
    text-align: center;
    font-size: 0.5em;

}
.navbar ul li a{
    text-decoration: none;
    font-size: 4em;
    color: white;
} 
.navbar ul li a:hover{
    margin: 0.2em;
    background-color: #5e5757;
    border-radius: 100%;
}

/* SHOWS WHAT PAGE YOU ARE ON  */
.current a {
    background-color: #706C61;
    border-radius: 50%;

}

main{
    grid-area: main;
}
.homepage_main{
    text-align: center;
}


.about_me{
    color: white;
    margin-bottom: 6em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    margin-top: 0.5em;
}
aside{ 
    grid-area: aside;
    text-align: center;
}
aside a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: 0.1em solid white;
    margin: 0.5em 42em;
    border-radius: 50px;
}
aside a:hover{
    background-color: rgb(124, 118, 118);
}
.displaypicture{
    border-radius:50%;
    width: 25em;
    height: 25em;
    margin-top: 7em;
}
footer{
    color: white;
    /* font-size: 1em; */
    grid-area: footer;
}
footer {
    justify-content: space-around;

}
.logo ul {
   font-size: 1.5em;
    display: flex;
    list-style: none;
    justify-content: center;
}
.logo ul li a{
    padding: 0.9em;


}
.footer_nav {
    display: flex;
    list-style: none;
    justify-content: center;
    background-color: #706C61 ;
    padding: 0.1em;
    padding-top: 0.5em;
    padding-bottom: 0.4em;
}
.footer_nav li{

    padding: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
footer ul li a {

    display: flex; 
    font-size: 1em;
    font-style: normal;
    text-decoration: none;
    color: white;
    
}
footer ul li a:hover{

    /* margin: 0.05em; */
    background-color: #5e5757;
    border-radius: 50%;
}



footer div{
    margin-top: 1em;
    font-size: 1em;
    font-style: italic;
}
.copywrite{
    text-align: center;
    margin-top: 0.5em;
}

label{
    color: white;
}
.contact_main h2{
    font-family: "bungee hairline", sans-serif;
    font-size: 4em;    
}
.line{
    border-top: 0.2em solid white;
    margin: 0em 20em;
    border-radius: 50px;
    border-color: var(--background1);
    margin-bottom: 0.2em;

}
.contact_main p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;

}
.contact_main  {
        text-align: center;
        background-color: var(--background2);
        margin: 4.5em 12em;
        border-radius: 50px;
        
}
.contact_form {
    display: grid;
    margin: 2em 23em;
    
}
button{
    margin: 0em 8em;
    border-radius: 50px;
}
input{
    border-radius: 5px;
}
textarea{
    border-radius: 10px;
}
/* input [type="submit"]{
    ;
} */
form{
    width: 30%;
    display: grid;
    row-gap: 0.5em;
    grid-template-columns: 100%;

    
  }
