* {
    margin: 0;
    padding: 0;
}


header h1{
    color: white;
    font-weight: bold;
    /* border: 8px solid grey; */
    /* border-radius: 50%; */
    border-bottom: 8px solid grey;
    display: inline;
    border-radius: 5em;
}
img{
    width: 100vw;
    height: 100vh;
}
body{
    background-image: url("background_image.jpeg");
    background-size: cover;
    display: grid;

}
nav{
    color: white;
    grid-area: nav;
    text-align: justify;
    padding: 0%;
}

main.h1{
    color: rgb(209, 40, 40);
    font-size: 50px;
    font-weight: normal;
    display: inline;
}   
nav ul li{
    display: flex;
    justify-content: space-around;
    padding: 0.4em;
    grid-area: nav;
    display: inline;

}
footer{
    color: white;
    font-size: 1em;
}
a{
    text-decoration: none;
    /* color: rgb(245, 233, 233); */
    font-size: 4em;
    /* color: rgb(9, 9, 37); */
    color: white;
} 